USE [TalaPress]
GO
/****** Object:  Table [dbo].[AlakraboonCartItems]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlakraboonCartItems](
	[Id] [uniqueidentifier] NOT NULL,
	[VisitorId] [nvarchar](100) NOT NULL,
	[UserId] [nvarchar](100) NULL,
	[QcDonationId] [bigint] NULL,
	[QcDonationIds] [nvarchar](500) NULL,
	[Label] [nvarchar](300) NULL,
	[DonationType] [nvarchar](20) NOT NULL,
	[AccountTypeId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CurrencyId] [int] NOT NULL,
	[PeriodTypeId] [int] NULL,
	[Source] [nvarchar](100) NULL,
	[IdempotencyKey] [nvarchar](100) NULL,
	[QcPayloadJson] [nvarchar](max) NULL,
	[QcResponseJson] [nvarchar](max) NULL,
	[SyncStatus] [nvarchar](30) NOT NULL,
	[ErrorMessage] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[PaidForId] [int] NULL,
	[SponsorshipCategoryId] [int] NULL,
	[IsYearly] [bit] NOT NULL,
 CONSTRAINT [PK_AlakraboonCartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiKeys]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiKeys](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[KeyPrefix] [nvarchar](50) NOT NULL,
	[KeyHash] [nvarchar](128) NOT NULL,
	[AllowedOrigins] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[LastUsedAt] [datetime2](7) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
	[RevokedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Name_En] [nvarchar](250) NULL,
	[Slug] [nvarchar](250) NULL,
	[ParentId] [bigint] NULL,
	[IconValue] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ContentTypeId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ContentTypeId] [bigint] NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Title_En] [nvarchar](500) NULL,
	[Slug] [nvarchar](500) NULL,
	[Summary] [nvarchar](max) NULL,
	[Summary_En] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Content_En] [nvarchar](max) NULL,
	[FeaturedImage] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[PublishDate] [datetime2](7) NULL,
	[CategoryId] [bigint] NULL,
	[SubCategoryId] [bigint] NULL,
	[SeoTitle] [nvarchar](500) NULL,
	[SeoTitle_En] [nvarchar](500) NULL,
	[SeoDescription] [nvarchar](1000) NULL,
	[SeoDescription_En] [nvarchar](1000) NULL,
	[SeoKeywords] [nvarchar](1000) NULL,
	[SeoKeywords_En] [nvarchar](1000) NULL,
	[CanonicalUrl] [nvarchar](500) NULL,
	[CustomFieldsJson] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [bigint] NULL,
	[Hits] [int] NOT NULL,
 CONSTRAINT [PK_Content] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentTypeFields]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentTypeFields](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ContentTypeId] [bigint] NOT NULL,
	[FieldName] [nvarchar](100) NOT NULL,
	[Label] [nvarchar](250) NOT NULL,
	[FieldType] [nvarchar](50) NOT NULL,
	[Placeholder] [nvarchar](500) NULL,
	[HelpText] [nvarchar](1000) NULL,
	[IsRequired] [bit] NOT NULL,
	[IsTranslatable] [bit] NOT NULL,
	[DefaultValue] [nvarchar](max) NULL,
	[OptionsJson] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Label_En] [nvarchar](250) NULL,
	[Placeholder_En] [nvarchar](500) NULL,
	[HelpText_En] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentTypes]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentTypes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IconValue] [nvarchar](500) NULL,
	[IsSystem] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Name_En] [nvarchar](100) NULL,
	[Description_En] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormFields]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormFields](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FormId] [bigint] NOT NULL,
	[FieldName] [nvarchar](100) NOT NULL,
	[Label] [nvarchar](250) NOT NULL,
	[Label_En] [nvarchar](250) NULL,
	[FieldType] [nvarchar](50) NOT NULL,
	[Placeholder] [nvarchar](500) NULL,
	[Placeholder_En] [nvarchar](500) NULL,
	[HelpText] [nvarchar](1000) NULL,
	[HelpText_En] [nvarchar](1000) NULL,
	[IsRequired] [bit] NOT NULL,
	[DefaultValue] [nvarchar](max) NULL,
	[OptionsJson] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FormFields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Name_En] [nvarchar](150) NULL,
	[Description] [nvarchar](1000) NULL,
	[Description_En] [nvarchar](1000) NULL,
	[SubmitButtonText] [nvarchar](100) NULL,
	[SubmitButtonText_En] [nvarchar](100) NULL,
	[SuccessMessage] [nvarchar](1000) NULL,
	[SuccessMessage_En] [nvarchar](1000) NULL,
	[SendEmailNotification] [bit] NOT NULL,
	[NotificationEmail] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ResponseStorageType] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Forms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormSubmissions]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormSubmissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FormId] [bigint] NOT NULL,
	[SubmittedDataJson] [nvarchar](max) NOT NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FormSubmissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[ParentId] [bigint] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Title_En] [nvarchar](255) NULL,
	[Url] [nvarchar](2048) NULL,
	[ContentTypeId] [bigint] NULL,
	[CategoryId] [bigint] NULL,
	[ContentId] [bigint] NULL,
	[IconValue] [nvarchar](100) NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_MenuItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Name_En] [nvarchar](255) NULL,
	[Code] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Name_En] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Description_En] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [bigint] NOT NULL,
	[PermissionId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Name_En] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Description_En] [nvarchar](500) NULL,
	[IsSystem] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SiteName] [nvarchar](150) NOT NULL,
	[SiteName_En] [nvarchar](150) NULL,
	[SiteDescription] [nvarchar](500) NULL,
	[SiteDescription_En] [nvarchar](500) NULL,
	[Logo] [nvarchar](500) NULL,
	[Favicon] [nvarchar](500) NULL,
	[DefaultLanguage] [nvarchar](10) NOT NULL,
	[SupportedLanguages] [nvarchar](50) NOT NULL,
	[Theme] [nvarchar](20) NOT NULL,
	[AccentColor] [nvarchar](20) NULL,
	[EnableDarkMode] [bit] NOT NULL,
	[EnableRTL] [bit] NOT NULL,
	[DateFormat] [nvarchar](20) NOT NULL,
	[TimeFormat] [nvarchar](20) NOT NULL,
	[DateTimeFormat] [nvarchar](30) NOT NULL,
	[TimeZone] [nvarchar](50) NOT NULL,
	[DefaultPageSize] [int] NOT NULL,
	[MaxUploadSizeMB] [int] NOT NULL,
	[AllowedFileExtensions] [nvarchar](500) NULL,
	[EnableSeo] [bit] NOT NULL,
	[EnableCategories] [bit] NOT NULL,
	[EnableMediaLibrary] [bit] NOT NULL,
	[EnableContentVersioning] [bit] NOT NULL,
	[AutoGenerateSlug] [bit] NOT NULL,
	[DefaultContentStatus] [nvarchar](20) NOT NULL,
	[ApiEnabled] [bit] NOT NULL,
	[GoogleAnalyticsCode] [nvarchar](100) NULL,
	[GoogleTagManagerCode] [nvarchar](100) NULL,
	[CompanyName] [nvarchar](150) NULL,
	[CompanyName_En] [nvarchar](150) NULL,
	[CompanyEmail] [nvarchar](150) NULL,
	[CompanyPhone] [nvarchar](50) NULL,
	[CompanyAddress] [nvarchar](500) NULL,
	[CompanyAddress_En] [nvarchar](500) NULL,
	[FacebookUrl] [nvarchar](250) NULL,
	[TwitterUrl] [nvarchar](250) NULL,
	[InstagramUrl] [nvarchar](250) NULL,
	[LinkedInUrl] [nvarchar](250) NULL,
	[YouTubeUrl] [nvarchar](250) NULL,
	[FooterCopyright] [nvarchar](150) NULL,
	[FooterCopyright_En] [nvarchar](150) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ShowHits] [bit] NOT NULL,
	[LogoLight] [nvarchar](500) NULL,
	[SiteUrl] [nvarchar](500) NULL,
	[CompanyMapUrl] [nvarchar](1000) NULL,
	[SmtpEnabled] [bit] NOT NULL,
	[SmtpHost] [nvarchar](255) NULL,
	[SmtpPort] [int] NOT NULL,
	[SmtpUseSsl] [bit] NOT NULL,
	[SmtpUsername] [nvarchar](255) NULL,
	[SmtpPasswordProtected] [nvarchar](1000) NULL,
	[SmtpFromEmail] [nvarchar](255) NULL,
	[SmtpFromName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/6/2026 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApiKeys] ON 

INSERT [dbo].[ApiKeys] ([Id], [Name], [KeyPrefix], [KeyHash], [AllowedOrigins], [IsActive], [ExpiresAt], [LastUsedAt], [CreatedBy], [CreatedAt], [RevokedAt], [RevokedBy]) VALUES (1, N'الموقع الرئيسي', N'tp_pearl_382c0c42c', N'f3332c115445d9981e9add87d83fe6669e756ca5cd41093169a18ffec481ea55', N'http://localhost:5297/', 0, CAST(N'2026-06-17T00:14:00.0000000' AS DateTime2), NULL, 1, CAST(N'2026-06-16T21:15:04.1900000' AS DateTime2), CAST(N'2026-06-16T21:17:01.1600000' AS DateTime2), 1)
INSERT [dbo].[ApiKeys] ([Id], [Name], [KeyPrefix], [KeyHash], [AllowedOrigins], [IsActive], [ExpiresAt], [LastUsedAt], [CreatedBy], [CreatedAt], [RevokedAt], [RevokedBy]) VALUES (2, N'Postman Test', N'tp_pearl_33db35e20', N'a9cfd0c411d919f741e6831f92cdde5103fffd57cf2d2cd1a07156ab999155dc', NULL, 1, CAST(N'2026-06-30T00:33:00.0000000' AS DateTime2), CAST(N'2026-06-23T21:15:24.1300000' AS DateTime2), 1, CAST(N'2026-06-16T21:33:51.2800000' AS DateTime2), NULL, NULL)
INSERT [dbo].[ApiKeys] ([Id], [Name], [KeyPrefix], [KeyHash], [AllowedOrigins], [IsActive], [ExpiresAt], [LastUsedAt], [CreatedBy], [CreatedAt], [RevokedAt], [RevokedBy]) VALUES (10004, N'MobileKey', N'tp_pearl_840095dc5', N'2da34088e17fb40a28bb24f8b69531589ed41b510789589ab38f6c9f5f3e3a67', NULL, 1, CAST(N'2026-06-30T14:25:00.0000000' AS DateTime2), NULL, 1, CAST(N'2026-06-24T11:25:24.0433333' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ApiKeys] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Name_En], [Slug], [ParentId], [IconValue], [Image], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt], [ContentTypeId]) VALUES (1, N'الصفحات', N'Pages', N'pages', NULL, N'bi bi-file-earmark-text', NULL, 3, 1, CAST(N'2026-06-13T00:27:01.7400000' AS DateTime2), CAST(N'2026-06-25T09:37:56.6166667' AS DateTime2), NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Name_En], [Slug], [ParentId], [IconValue], [Image], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt], [ContentTypeId]) VALUES (2, N'اخبار ومقالات', N'News and Articles ', N'news-and-articles', NULL, N'bi bi-newspaper', NULL, 0, 1, CAST(N'2026-06-13T00:27:01.7400000' AS DateTime2), CAST(N'2026-06-25T09:30:55.9766667' AS DateTime2), 1)
INSERT [dbo].[Categories] ([Id], [Name], [Name_En], [Slug], [ParentId], [IconValue], [Image], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt], [ContentTypeId]) VALUES (10006, N' التكافل الاجتماعي', N'Social solidarity', N'social-solidarity', 2, N'bi-folder-fill', NULL, 1, 1, CAST(N'2026-06-17T19:37:51.3700000' AS DateTime2), CAST(N'2026-06-25T09:37:56.6133333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Content] ON 

SET IDENTITY_INSERT [dbo].[Content] OFF
GO
SET IDENTITY_INSERT [dbo].[ContentTypeFields] ON 

INSERT [dbo].[ContentTypeFields] ([Id], [ContentTypeId], [FieldName], [Label], [FieldType], [Placeholder], [HelpText], [IsRequired], [IsTranslatable], [DefaultValue], [OptionsJson], [SortOrder], [IsActive], [CreatedAt], [Label_En], [Placeholder_En], [HelpText_En]) VALUES (10017, 1, N'Title', N'العنوان', N'Text', NULL, N'عنوان المحتوى الرئيسي', 0, 0, NULL, NULL, 1, 1, CAST(N'2026-06-17T20:22:29.7766667' AS DateTime2), N'Title', NULL, N'Main content title')
INSERT [dbo].[ContentTypeFields] ([Id], [ContentTypeId], [FieldName], [Label], [FieldType], [Placeholder], [HelpText], [IsRequired], [IsTranslatable], [DefaultValue], [OptionsJson], [SortOrder], [IsActive], [CreatedAt], [Label_En], [Placeholder_En], [HelpText_En]) VALUES (10018, 1, N'Slug', N'الرابط البديل', N'Url', NULL, N'رابط عنوان URL الفرعي', 0, 0, NULL, NULL, 2, 1, CAST(N'2026-06-17T20:22:29.7766667' AS DateTime2), N'Slug', NULL, N'URL friendly slug identifier')
INSERT [dbo].[ContentTypeFields] ([Id], [ContentTypeId], [FieldName], [Label], [FieldType], [Placeholder], [HelpText], [IsRequired], [IsTranslatable], [DefaultValue], [OptionsJson], [SortOrder], [IsActive], [CreatedAt], [Label_En], [Placeholder_En], [HelpText_En]) VALUES (10019, 1, N'Summary', N'الملخص', N'Textarea', NULL, N'ملخص أو مقدمة موجزة للمحتوى', 0, 0, NULL, NULL, 3, 1, CAST(N'2026-06-17T20:22:29.7766667' AS DateTime2), N'Summary', NULL, N'Brief summary or introduction of the content')
GO
SET IDENTITY_INSERT [dbo].[ContentTypeFields] OFF
GO
SET IDENTITY_INSERT [dbo].[ContentTypes] ON 

INSERT [dbo].[ContentTypes] ([Id], [Name], [Description], [IconValue], [IsSystem], [IsActive], [CreatedAt], [UpdatedAt], [Name_En], [Description_En]) VALUES (1, N'خبر', N'قالب لإدارة الأخبار والمقالات الإخبارية', N'bi bi-newspaper', 1, 1, CAST(N'2026-06-13T00:24:32.1566667' AS DateTime2), CAST(N'2026-06-17T20:22:29.7733333' AS DateTime2), N'News', N'Template for managing news and news articles')
INSERT [dbo].[ContentTypes] ([Id], [Name], [Description], [IconValue], [IsSystem], [IsActive], [CreatedAt], [UpdatedAt], [Name_En], [Description_En]) VALUES (2, N'حدث', N'قالب لإدارة الفعاليات والأحداث', N'bi bi-calendar-event', 1, 1, CAST(N'2026-06-13T00:24:32.1566667' AS DateTime2), CAST(N'2026-06-25T17:55:13.3700000' AS DateTime2), N'Event', N'Template for managing events and activities')
INSERT [dbo].[ContentTypes] ([Id], [Name], [Description], [IconValue], [IsSystem], [IsActive], [CreatedAt], [UpdatedAt], [Name_En], [Description_En]) VALUES (3, N'صفحة', N'قالب لإنشاء الصفحات الثابتة', N'bi bi-file-earmark-text', 1, 1, CAST(N'2026-06-13T00:24:32.1566667' AS DateTime2), CAST(N'2026-06-27T13:36:14.2566667' AS DateTime2), N'Page', N'Template for creating static pages')
SET IDENTITY_INSERT [dbo].[ContentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[FormFields] ON 

INSERT [dbo].[FormFields] ([Id], [FormId], [FieldName], [Label], [Label_En], [FieldType], [Placeholder], [Placeholder_En], [HelpText], [HelpText_En], [IsRequired], [DefaultValue], [OptionsJson], [SortOrder], [IsActive], [CreatedAt]) VALUES (4, 1, N'Name', N'الاسم', N'Name', N'Text', N'ادخل الاسم', N'enter your name ', NULL, NULL, 1, NULL, NULL, 1, 1, CAST(N'2026-06-27T21:47:02.8233333' AS DateTime2))
INSERT [dbo].[FormFields] ([Id], [FormId], [FieldName], [Label], [Label_En], [FieldType], [Placeholder], [Placeholder_En], [HelpText], [HelpText_En], [IsRequired], [DefaultValue], [OptionsJson], [SortOrder], [IsActive], [CreatedAt]) VALUES (5, 1, N'ConEmail', N'البرد الإلكتروني', N'Email', N'Email', N'الدخل البريد الإلكتروني', N'Enter your email', NULL, NULL, 0, NULL, NULL, 2, 1, CAST(N'2026-06-27T21:47:02.8266667' AS DateTime2))
INSERT [dbo].[FormFields] ([Id], [FormId], [FieldName], [Label], [Label_En], [FieldType], [Placeholder], [Placeholder_En], [HelpText], [HelpText_En], [IsRequired], [DefaultValue], [OptionsJson], [SortOrder], [IsActive], [CreatedAt]) VALUES (6, 1, N'ConMessage', N'الرساله ', N'Message', N'Textarea', N'ادخل نص الرساله', N'Enter Message', NULL, NULL, 1, NULL, NULL, 3, 1, CAST(N'2026-06-27T21:47:02.8300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[FormFields] OFF
GO
SET IDENTITY_INSERT [dbo].[Forms] ON 

INSERT [dbo].[Forms] ([Id], [Name], [Name_En], [Description], [Description_En], [SubmitButtonText], [SubmitButtonText_En], [SuccessMessage], [SuccessMessage_En], [SendEmailNotification], [NotificationEmail], [IsActive], [CreatedAt], [UpdatedAt], [ResponseStorageType]) VALUES (1, N'اتصل بنا', N'contact us ', NULL, NULL, N'ارسل', N'Send', N'تم لاتخزين بنجاح', N'your message successfully sent ', 0, N'zakaria@bravoitm.com', 1, CAST(N'2026-06-21T19:08:02.5800000' AS DateTime2), CAST(N'2026-06-27T21:47:02.8066667' AS DateTime2), N'Database')
INSERT [dbo].[Forms] ([Id], [Name], [Name_En], [Description], [Description_En], [SubmitButtonText], [SubmitButtonText_En], [SuccessMessage], [SuccessMessage_En], [SendEmailNotification], [NotificationEmail], [IsActive], [CreatedAt], [UpdatedAt], [ResponseStorageType]) VALUES (2, N'النشرة البريدة', N'NewsLatter', NULL, NULL, N'ارسل', N'Submit', N'تم االارسال بنجاح', N'Your message sent successfully ', 0, NULL, 1, CAST(N'2026-06-27T21:50:14.6900000' AS DateTime2), NULL, N'Database')
SET IDENTITY_INSERT [dbo].[Forms] OFF
GO
SET IDENTITY_INSERT [dbo].[FormSubmissions] ON 

INSERT [dbo].[FormSubmissions] ([Id], [FormId], [SubmittedDataJson], [IpAddress], [UserAgent], [CreatedAt]) VALUES (1, 2, N'{"NewlatterEmail":"zakhras@qcharity.org"}', N'178.153.188.214', N'', CAST(N'2026-06-27T22:03:33.9300000' AS DateTime2))
INSERT [dbo].[FormSubmissions] ([Id], [FormId], [SubmittedDataJson], [IpAddress], [UserAgent], [CreatedAt]) VALUES (2, 1, N'{"Name":"\u0632\u0643\u0631\u064A\u0627 \u0627\u0644\u0627\u062E\u0631\u0633","ConEmail":"zakhras@qcharity.org","ConMessage":"\u0633\u064A\u0628\u0634\u0633\u064A\u0628"}', N'178.153.188.214', N'', CAST(N'2026-06-27T22:05:14.7000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[FormSubmissions] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([Id], [MenuId], [ParentId], [Title], [Title_En], [Url], [ContentTypeId], [CategoryId], [ContentId], [IconValue], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, 1, NULL, N'من نحن', N'About Us', N'/About', NULL, NULL, NULL, N'bi-link-45deg', 1, 1, CAST(N'2026-06-21T18:18:58.0866667' AS DateTime2), CAST(N'2026-06-26T11:09:38.6433333' AS DateTime2))
INSERT [dbo].[MenuItems] ([Id], [MenuId], [ParentId], [Title], [Title_En], [Url], [ContentTypeId], [CategoryId], [ContentId], [IconValue], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, 1, NULL, N'قصص نجاح', N'Success stories', N'/Home/SuccessStories', 1, 2, NULL, N'bi-link-45deg', 6, 1, CAST(N'2026-06-21T18:20:12.0333333' AS DateTime2), CAST(N'2026-06-26T11:18:49.2233333' AS DateTime2))
INSERT [dbo].[MenuItems] ([Id], [MenuId], [ParentId], [Title], [Title_En], [Url], [ContentTypeId], [CategoryId], [ContentId], [IconValue], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, 1, NULL, N' البرامج والمشاريع', N'Programs and Projects', N'/ProgramsProjects', NULL, NULL, NULL, N'bi-link-45deg', 2, 1, CAST(N'2026-06-21T18:21:04.7700000' AS DateTime2), CAST(N'2026-06-26T11:12:17.1166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Name], [Name_En], [Code], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'الرئيسية', N'Main Menu', N'main-menu', 1, CAST(N'2026-06-21T18:16:07.2866667' AS DateTime2), NULL)
INSERT [dbo].[Menus] ([Id], [Name], [Name_En], [Code], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'روابط سريعة', N'Quick links', N'02', 1, CAST(N'2026-06-21T18:23:51.5200000' AS DateTime2), CAST(N'2026-06-26T11:25:55.9033333' AS DateTime2))
INSERT [dbo].[Menus] ([Id], [Name], [Name_En], [Code], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'روابط مفيدة', N'Useful links', N'side-menu', 1, CAST(N'2026-06-24T10:49:36.3366667' AS DateTime2), CAST(N'2026-06-26T11:26:58.0333333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([Id], [Code], [Name], [Name_En], [Description], [Description_En], [CreatedAt]) VALUES (1, N'Content.View', N'عرض المحتوى', N'View Content', N'عرض وقراءة مقالات النظام والمسودات', N'Allows viewing and reading article lists and drafts.', CAST(N'2026-06-12T23:39:22.9900000' AS DateTime2))
INSERT [dbo].[Permissions] ([Id], [Code], [Name], [Name_En], [Description], [Description_En], [CreatedAt]) VALUES (2, N'Content.Create', N'إنشاء محتوى جديد', N'Create Content', N'إضافة وكتابة مسودات مقالات جديدة', N'Allows creating new content drafts.', CAST(N'2026-06-12T23:39:22.9900000' AS DateTime2))
INSERT [dbo].[Permissions] ([Id], [Code], [Name], [Name_En], [Description], [Description_En], [CreatedAt]) VALUES (3, N'Content.Edit', N'تعديل المحتوى', N'Edit Content', N'تعديل المقالات القائمة والمسودات', N'Allows editing existing articles and drafts.', CAST(N'2026-06-12T23:39:22.9900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId], [CreatedAt]) VALUES (1, 1, CAST(N'2026-06-12T23:39:23.0066667' AS DateTime2))
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId], [CreatedAt]) VALUES (1, 2, CAST(N'2026-06-12T23:39:23.0066667' AS DateTime2))
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId], [CreatedAt]) VALUES (1, 3, CAST(N'2026-06-12T23:39:23.0066667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Name_En], [Description], [Description_En], [IsSystem], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'مدير النظام العام', N'Super Administrator', N'يمتلك كافة الصلاحيات على النظام ولا يمكن تعديله أو حذفه', N'Full system access. Cannot be modified or deleted.', 1, 1, CAST(N'2026-06-12T23:39:22.9833333' AS DateTime2), NULL)
INSERT [dbo].[Roles] ([Id], [Name], [Name_En], [Description], [Description_En], [IsSystem], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'مدير النظام', N'Administrator', N'يمتلك صلاحيات إدارة المحتوى والمستخدمين وإعدادات الموقع الأساسية', N'Administrative privileges for content, user, and settings management.', 1, 1, CAST(N'2026-06-12T23:39:22.9833333' AS DateTime2), NULL)
INSERT [dbo].[Roles] ([Id], [Name], [Name_En], [Description], [Description_En], [IsSystem], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'مدير المحتوى', N'Content Manager', N'مسؤول عن مراجعة وجدولة وإدارة الأقسام والوسائط', N'Responsible for content strategy, category setups, and media assets.', 1, 1, CAST(N'2026-06-12T23:39:22.9833333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Settings] ON 

SET IDENTITY_INSERT [dbo].[Settings] OFF
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId], [CreatedAt]) VALUES (1, 1, CAST(N'2026-06-27T22:16:09.2733333' AS DateTime2))
INSERT [dbo].[UserRoles] ([UserId], [RoleId], [CreatedAt]) VALUES (2, 4, CAST(N'2026-06-27T22:16:42.3066667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [FullName], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin', N'admin@talapress.com', N'AQAAAAIAAYagAAAAEKvMHkCxugzffypP4mRZomB0FvWYIsLs8enz4vK+2WcLJNSI8z/nSWz2X8iHqRj2Rw==', N'Super Admin', 1, CAST(N'2026-06-12T23:41:12.0100000' AS DateTime2), CAST(N'2026-06-27T22:16:09.2733333' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [FullName], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'zak', N'zak@zak.com', N'AQAAAAIAAYagAAAAEKvCvzK4632Jon6KAPTwRmXJ6XqW3oAMVz2TnQKTVeUvgSzNucy1oVEoTJvzMqi1gw==', N'zakaria', 1, CAST(N'2026-06-13T09:57:19.2666667' AS DateTime2), CAST(N'2026-06-27T22:16:42.3066667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[AlakraboonCartItems] ADD  DEFAULT ((1)) FOR [CurrencyId]
GO
ALTER TABLE [dbo].[AlakraboonCartItems] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AlakraboonCartItems] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AlakraboonCartItems] ADD  DEFAULT ((0)) FOR [IsYearly]
GO
ALTER TABLE [dbo].[ApiKeys] ADD  CONSTRAINT [DF_ApiKeys_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ApiKeys] ADD  CONSTRAINT [DF_ApiKeys_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Content] ADD  CONSTRAINT [DF_Content_Status]  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Content] ADD  CONSTRAINT [DF_Content_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Content] ADD  CONSTRAINT [DF_Content_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Content] ADD  DEFAULT ((0)) FOR [Hits]
GO
ALTER TABLE [dbo].[ContentTypeFields] ADD  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[ContentTypeFields] ADD  DEFAULT ((0)) FOR [IsTranslatable]
GO
ALTER TABLE [dbo].[ContentTypeFields] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ContentTypeFields] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ContentTypeFields] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ContentTypes] ADD  DEFAULT ((0)) FOR [IsSystem]
GO
ALTER TABLE [dbo].[ContentTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ContentTypes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FormFields] ADD  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[FormFields] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[FormFields] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FormFields] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT ((0)) FOR [SendEmailNotification]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Forms] ADD  CONSTRAINT [DF_Forms_ResponseStorageType_Mig]  DEFAULT ('Database') FOR [ResponseStorageType]
GO
ALTER TABLE [dbo].[FormSubmissions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsSystem]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT (N'ar') FOR [DefaultLanguage]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT (N'ar,en') FOR [SupportedLanguages]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT (N'Light') FOR [Theme]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [EnableDarkMode]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [EnableRTL]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT (N'dd/MM/yyyy') FOR [DateFormat]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT (N'HH:mm') FOR [TimeFormat]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT (N'dd/MM/yyyy HH:mm') FOR [DateTimeFormat]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT (N'Arab Standard Time') FOR [TimeZone]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((10)) FOR [DefaultPageSize]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((20)) FOR [MaxUploadSizeMB]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [EnableSeo]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [EnableCategories]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [EnableMediaLibrary]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [EnableContentVersioning]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [AutoGenerateSlug]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT (N'Draft') FOR [DefaultContentStatus]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [ApiEnabled]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [ShowHits]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((0)) FOR [SmtpEnabled]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((587)) FOR [SmtpPort]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [SmtpUseSsl]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Parent]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [FK_Content_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [FK_Content_Categories]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [FK_Content_ContentTypes] FOREIGN KEY([ContentTypeId])
REFERENCES [dbo].[ContentTypes] ([Id])
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [FK_Content_ContentTypes]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [FK_Content_SubCategories] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [FK_Content_SubCategories]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [FK_Content_Users_Created] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [FK_Content_Users_Created]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [FK_Content_Users_Deleted] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [FK_Content_Users_Deleted]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [FK_Content_Users_Updated] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [FK_Content_Users_Updated]
GO
ALTER TABLE [dbo].[ContentTypeFields]  WITH CHECK ADD  CONSTRAINT [FK_ContentTypeFields_ContentTypes] FOREIGN KEY([ContentTypeId])
REFERENCES [dbo].[ContentTypes] ([Id])
GO
ALTER TABLE [dbo].[ContentTypeFields] CHECK CONSTRAINT [FK_ContentTypeFields_ContentTypes]
GO
ALTER TABLE [dbo].[FormFields]  WITH CHECK ADD  CONSTRAINT [FK_FormFields_Forms] FOREIGN KEY([FormId])
REFERENCES [dbo].[Forms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FormFields] CHECK CONSTRAINT [FK_FormFields_Forms]
GO
ALTER TABLE [dbo].[FormSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_FormSubmissions_Forms] FOREIGN KEY([FormId])
REFERENCES [dbo].[Forms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FormSubmissions] CHECK CONSTRAINT [FK_FormSubmissions_Forms]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_Categories]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_ContentTypes] FOREIGN KEY([ContentTypeId])
REFERENCES [dbo].[ContentTypes] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_ContentTypes]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_Menus] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_Menus]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
